.App {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;

}


   
@media screen and (max-width: 740px) { 

  .Design{
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    align-items: center;
  }

  input{
    max-width: 80%;
  }

  button{
    max-width: 80%;
    margin-left: 30px;
  }
  .boxed{
    width: 90%;
  }

}

@media screen and (min-width: 740px) { 
  .Design{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}


.App-header{
  background-color: rgb(8, 8, 8, 0.4);
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-body{
  display: flex;
  min-height: 450px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}

.App-link {
  color: #61dafb;
}


